body {
}

.alert-container {
    position : fixed;
    width : 100%;
    z-index : 2000;
    top : 20px;
}

.alert-container .alert {
    width : 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, .3);
}

#favorite-button-span {
    position : relative;
}

#main-container {
    padding-top : 50px;
}