body {
    padding-top : 50px;
}

.alert-container {
    position : fixed;
    width : 100%;
    z-index : 2000;
}

.alert-container .alert {
    width : 70%;
    margin-left: auto;
    margin-right: auto;
}

#favorite-button-span {
    position : relative;
}